<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>

        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- File -->
        <File name="FileLogger"
              fileName="D:/university/event-booking-system/logs/app.log">

            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>

    </Appenders>

    <Loggers>

        <!-- Hibernate SQL -->
        <Logger name="org.hibernate.SQL"
                level="debug"
                additivity="false">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Hibernate Parameter -->
        <Logger name="org.hibernate.type.descriptor.sql"
                level="trace"
                additivity="false">

            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>