<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head></head>
    <body>
        <header th:fragment="admin-header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="height: 56px;">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 fw-bold" th:href="@{/admin/dashboard}">
                <i class="bi bi-ticket-perforated-fill text-warning me-2"></i>TICKET ADMIN
            </a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="w-100"></div>

            <div class="navbar-nav">
                <div class="nav-item text-nowrap d-flex align-items-center" sec:authorize="isAuthenticated()">
                    <span class="text-light me-3 small">
                        <i class="bi bi-person-circle me-1 text-info"></i> 
                        Xin chào, <strong sec:authentication="name">Admin</strong>
                    </span>

                    <form th:action="@{/logout}" method="post" class="me-3">
                        <button type="submit" class="btn btn-sm btn-outline-light py-1 px-3">
                            <i class="bi bi-box-arrow-right"></i> Đăng xuất
                        </button>
                    </form>
                </div>

                <div class="nav-item text-nowrap d-flex align-items-center me-3" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn btn-sm btn-success py-1 px-3">
                        <i class="bi bi-box-arrow-in-right"></i> Đăng nhập
                    </a>
                </div>
            </div>
        </header>
    </body>
</html>